name: test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.0.0
      - uses: gleam-lang/setup-erlang@v1.1.3
        with:
          otp-version: "23.2"
      - uses: gleam-lang/setup-gleam@v1.0.1
        with:
          gleam-version: "0.18.0-rc1"
      - run: gleam test
      - run: gleam format --check src test
